.galleryCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 180px;
  padding-right: 0px;
  width: 90%;
  height: 100vh;
  margin: 25px;
}

.image_Stl {
  width: 95%;
  height: 70vh;
}

.gallery_heading {
  margin-bottom: 0px;
  color: #1e293b;
}

.unOrderListImg {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  padding-left: 0px;
}

.naturePara {
  color: #64748b;
  font-weight: 500;
  margin-bottom: 1px;
}
